body {
    font-family: Roboto, Lora, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

.banner {
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: rgb(230 243 254 / 1);
    font-weight: 700;
    word-break: break-word;
    text-align: center;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
    color: navy;
    text-align: start;
    grid-column: 1 / -1;
}

article p {
    text-align: justify;
}



footer {
    margin-top: 1rem;
    border-top: 1px solid rgb(0 0 0 / 0.1);
    padding: 0.5rem 0;
    font-size: smaller;
}

.callout {
    border: 1px solid rgb(0 0 0 / 0.1);
    color: #000;
    background-color: #eee;
    grid-column: 1/3;
    padding: 1rem;
}