:root {
    --primary-color: #23053E;
    --secondary-color: #3D2B56;
    --overlay-color: #EDEDED;
    --accent1-color: #C5F5B2;
    --accent2-color: #D3F55D;
    --heading-font: "Lora", serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}


header {
    height: 100px;
    display: grid;
    grid-template-rows: 2fr 1fr;

}

#course-title {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--heading-font);
    font-size: 1.25rem;
}

/*header nav*/
nav {
    background-color: var(--accent1-color);

}

nav ul {
    list-style-type: none;
    display: flex
}

nav ul li {
    flex: 1 1 100%;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

nav a:hover {
    background-color: var(--accent2-color);
}


main {
    max-width: 1080px;
    /* limited width*/
    margin: 0 auto;
    /*centered*/
    padding: 6.25rem 0 8rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

main h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin-bottom: 3rem;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;

    font-family: var(--heading-font);
    background-color: var(--overlay-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

}


.card img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.25rem;
}

.card h3 {
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
    font-family: var(--heading-font);
    grid-column: 1 / -1;
    text-align: center;
    padding: 0.5rem;
}

.card p {
    padding: 0 1rem 1rem 1rem;
    line-height: 1.5;
}

.resources-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.resources-card img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.resources-card h3 {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    
}

.resources-card a {
    align-self: flex-start;
    padding: 0.35rem 7rem;
    border-radius: 6px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
}

footer span {
    font-weight: bold;
    color: var(--accent1-color);
}