:root {
    --primary-color: #3402be;
    --secondary-color: #74ACDF;
    --overlay-color: #F4D445;
    --accent1-color: #85340A;
    --heading-font: "Lora", serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}


header {
    display: grid;
    place-items: center;
    margin: 0 auto;
    background-color: var(--primary-color);
    grid-gap: 1rem;
    padding: 50px;
}

h1{
    font-family: var(--heading-font);
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}

.hero{
    width: 100%;
    aspect-ratio: 840 / 473;
    margin: 30px 0 30px 0;
}

.hero img, .hero picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.info-section{
    /*height: 325px;*/
    background-color: var(--secondary-color);
    color: #000000;
    margin-bottom: 0.25rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-family: var(--heading-font);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.sunny-icon{
    margin-bottom: 1.5rem;
}

.data-list{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.25rem;
    row-gap: 1rem;
    width: 100%;
    max-width: 300px;
}

.data-item{
    display: contents;
}

.data-item dd{
    margin-left: 0.5rem;
}

.data-item dt{
    font-weight:600;
    grid-column: 1;
    text-align: left;
}

.data-item  dt::after{
    content:":"

}

footer {
    margin-top: 30px;
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

footer p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
}

footer span {
    font-weight: bold;
    color: var(--overlay-color);
}